<mat-card class="card-problema">
    <h1>Case problema</h1>

    <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="radio_formalizacao"
        name="radio_formalizacao" class="example-radio-group" name="radio-group-problema">
        <mat-radio-button class="example-radio-button" *ngFor="let formalizacao of tipos_formalizacao"
            [value]="formalizacao">
            {{ formalizacao }}
        </mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button color="primary" (click)="formalizacao()">Primary</button>
</mat-card>